/* <a href="https://www.flaticon.com/free-icons/potato" title="potato icons">Potato icons created by Freepik - Flaticon</a> */

@import url('https://fonts.googleapis.com/css2?family=Astloch:wght@400;700&family=Corben&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    width: 100vw;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* border: 1px solid orange; */
    background: black;
}

.page-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    max-width: 1300px;
    min-width: 350px;
    min-height: 100vh;
    margin: 0 auto;
    /* border: 1px solid red; */
}

.left {
    position: relative;
    width: 35%;
    background: url("https://images.unsplash.com/photo-1590165482129-1b8b27698780?q=80&w=2127&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover;
    background-repeat: no-repeat;
}

.logo-text {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0, 0.4);
    top: 20%;
    height: 15vh;
    width: 100%;
    color: white;
    font-family: 'Corben', serif;
    font-size: 80px;
    /* border: 1px solid blue; */
}

.logo-text::before {
    content: url("./potato.png");
    transform: scale(20%);
    filter: invert();
    margin-right: -200px;
    margin-left: -200px;
}

.left > a:first-of-type {
    position: absolute;
    bottom: 10%;
    left: 15%;
    color: #fff;
}

.left > a:last-of-type {
    position: absolute;
    bottom: 13%;
    left: 22%;
    color: #fff;
}

.right {
    width: 65%;
    background-color: #fff;
}

.intro, .form, .submit {
    padding-left: 50px;
}

.intro {
    padding-top: 15%;
    padding-right: 200px;
    height: 35vh;
    background-color: rgb(240, 239, 239);
    /* border: 1px solid green; */
    font-size: 22px;
    font-weight: 550;
}

.intro p:last-child {
    padding-top: 20px;
}

.form {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    /* min-height: 35vh; */
    box-shadow: 0 5px 5px rgb(167, 167, 167);
    /* border: 1px solid cyan; */
}

.form > h1 {
    text-align: start;
    margin-top: 30px;
}

.submit {
    height: 30vh;
    /* border: 1px solid purple; */
}

.submit > span {
    font-size: 16px;
}

button {
    display: block;
    padding: 10px 35px;
    margin: 25px 0;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    background-color: #e8aa00;
    border: none;
    border-radius: 5px;
}

button:hover {
    cursor: pointer;
    background-color: #f5bc20;
}

a, a:visited {
    text-decoration: none;
    color: #e8aa00;
    font-weight: bold;
}
/*FORM STYLING*/
form {
    display: flex;
    flex-wrap: wrap; /*change later after fields are set to same length */
    max-width: 700px;
    /* border: 1px solid blue; */
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.form-field {
    margin: 30px 60px 0 0;
}

input {
    display: block;
    margin-top: 3px;
    padding-left: 10px;
    width: 220px;
    height: 30px;
    border: 1px solid #b9b9b9;
    border-radius: 5px;
    font-size: 16px;
}

input:focus {
    border: none;
    /* border: 1px solid rgb(43, 255, 0); */
    box-shadow: 2px 3px 3px rgb(80, 80, 80);
}

label {
    font-size: 0.7rem;
    font-weight: bolder;
    color: rgb(83, 83, 83);
}

#pw-match {
    position: absolute;
    bottom: -10px;
    margin: -3px 0 20px 5px;
    font-size: 0.9rem;
    color: red;
}

@media only screen and (max-width: 1000px) {
    .right {
        width: 100vw;
    }

    .intro {
        padding-right: 40px;
    }

    .hero {
        display: none;
    }
}